{% extends "PgGsbFraisBundle::accueil.html.twig" %}
{% block body %}
{% block bloc1 %}
<div id="contenu">
<h2>Ajouter un véhicule:</h2>

 
<div class="well">
  {{ form(form) }}
</div>
 		

</div>

{% endblock %}
{% endblock %}